.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

.header__logo {
    width: 40%;
    text-align: left;
    text-transform: uppercase;
    font-family: "Arial";
}

nav {
    width: 40%;
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
