.popup {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 4rem 2rem;
    border-radius: .8rem;
    background: linear-gradient(to right bottom, hsl(76, 76%, 72%), hsl(78, 51%, 90%));

    box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);

    overflow: hidden;
}

.popup_open {
    display: flex;
    flex-direction: column;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
}

.popup__close {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #006400;
    border-radius: 50%;
    top: 2%;
    right: 2%;
    padding: 10px;
    font-size: 1rem;
}

.popup__close:hover {
    transform: scale(1.1);
}
.popup__heading {
    font-size: 2.5rem;
}

.popup__heading::after {
    margin: 20px auto 40px;
    content: '';
    display: flex;
    width: 100%;
    height: 2px;
    background: darkgreen;
}
.popup__content {
    font-size: 2rem;
}
